@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color--default--color: #3F3F3F;
    --color--default--bg: #E0E0E0;
    --color--default--bg--hover--focus: #AEAEAE;
    --color--blue--outline: #3D5AFE;
    --color--blue--outline--bg: rgba(41, 98, 255, 0.1);
    --color--true-white: #FFFFFF;
    --color--disable--color: #9E9E9E;
    --color--primary--bg: #2962FF;
    --color--primary--bg--hover--focus: #0039CB;
    --color--secondary--bg: #455A64;
    --color--secondary--bg--hover--focus: #1C313A;
    --color--danger--bg: #D32F2F;
    --color--danger--bg--hover--focus: #9A0007;
}

.default {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--color--default--color);
    background: var(--color--default--bg);
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
}

.default:hover, .default:focus  {
    background: var(--color--default--bg--hover--focus);
}

.default[disabled] {
    color: var(--color--disable--color);
    pointer-events: none;
}

.default span {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
}

.outline {
    box-shadow: none;
    border: 1px solid var(--color--blue--outline);
    color: var(--color--blue--outline);
    background: var(--color--true-white);
}

.outline:hover, .outline:focus  {
    background: var(--color--blue--outline--bg);
}

.text {
    box-shadow: none;
    color: var(--color--blue--outline);
    background: var(--color--true-white);
    
}

.text:hover, .text:focus  {
    border: none;
    background: var(--color--blue--outline--bg);
}

.disableShadow {
    box-shadow: none;
}



.sm {
    width: 73px;
    height: 32px;
}

.md {
    width: 81px;
    height: 36px;
}

.lg {
    width: 93px;
    height: 42px;
}

.primary {
    color: var(--color--true-white);
    background: var(--color--primary--bg);
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.primary:hover, .primary:focus {
    background: var(--color--primary--bg--hover--focus);
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.secondary {
    color: var(--color--true-white);
    background: var(--color--secondary--bg);
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
    
}

.secondary:hover, .secondary:focus {
    background: var(--color--secondary--bg--hover--focus);
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
}

.danger {
    color: var(--color--true-white);
    background: var(--color--danger--bg);
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
    
}

.danger:hover, .danger:focus {
    background: var(--color--danger--bg--hover--focus);
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
}